# SPDX-FileCopyrightText: 2026 Isaac Freeman <memotype@gmail.com>
# SPDX-License-Identifier: MIT

*.swp
*.swo
.aws-training.local.toml
.vscode
.editorconfig
.venv/
__pycache__/
node_modules/
npm-debug.log*
